*{
    margin: 0;
    padding: 0;
}
@keyframes slider{
    10%{
        background: url('/img/How-Tech-is-Changing-the-Way-we-Work-1024x639.jpg');
    }
    60%{
        background: url('/img/images.jpg');
    }
    30%{
        background: url('/img/Universe\ \(12\).JPG');
    }
}
