*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    padding-left: 50px;
}
.nav{
    display: flex;
}
.header{
    background: url('./img/Universe\ \(62\).JPG')no-repeat center / cover;
    height: 85vh;
    animation: slider 10s infinite linear;
    position: relative;
}
@keyframes slider{
    20%{
        background: url('/cyberking9696/BOSSimg/2021_chevrolet_camaro_angularfront.jpg')no-repeat center / cover;
    }
    20%{
        background: url('/cyberking9696/BOSSimg/neon.jpg')no-repeat center / cover;
    }
    30%{
        background: url('/img/bmw\ i.png')no-repeat center / cover;
    }
    40%{
        background: url('/img/Universe\ \(55\).JPG')no-repeat center / cover;
    }
    50%{
        background: url('/img/How-Tech-is-Changing-the-Way-we-Work-1024x639.jpg')no-repeat center / cover;
    }
}
